<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quizzeria</title>
    <script th:src="@{/css/js/main/home.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main/home.css}" rel="stylesheet">
</head>
    <body>
        <header th:replace="/layout/header_layout :: header_layout"></header>

    <div id="container">

        <div id="top">
            <div id="banner">
                <img th:src="@{/css/images/main/banner1.jpg}" alt="배너1">
                <img th:src="@{/css/images/main/banner2.jpg}" alt="배너2" style="display: none">
                <img th:src="@{/css/images/main/banner3.jpg}" alt="배너3" style="display: none">
            </div>
        </div>
        <div id="mid">
            <div id="content">
                <div id="today_Quiz">
                    <div id="quiz_title">
                        <h2>Today's Random Quiz!</h2>
                    </div>
                    <div class="card">
                        <div id="ran_question" class="text-center">
                            [[${quiz.question}]]
                        </div>
                        <div id="ran_choices">
                            <div id="ran_c_1">
                                <button id="btn-4-1" type="button" class="btn btn-outline-secondary btn1" th:value="${quiz.choices[0]}" >[[${quiz.choices[0]}]]</button>
                            </div>
                            <div id="ran_c_2">
                                <button id="btn-4-2" type="button" class="btn btn-outline-secondary btn2" th:value="${quiz.choices[1]}" >[[${quiz.choices[1]}]]</button>
                            </div>
                            <div id="ran_c_3">
                                <button id="btn-4-3" type="button" class="btn btn-outline-secondary btn3" th:value="${quiz.choices[2]}" >[[${quiz.choices[2]}]]</button>
                            </div>
                            <div id="ran_c_4">
                                <button id="btn-4-4" type="button" class="btn btn-outline-secondary btn4" th:value="${quiz.choices[3]}" >[[${quiz.choices[3]}]]</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="notice"> <!-- 홈에서 보이는 공지는 5~6개 까지만 표시, 중요공지 2개 + 최신공지 4개 -->
                    <div id="notice_top">
                        <div id="notice_title">
                            <h2>공지사항</h2>
                        </div>
                    </div>
                    <div id="notice_contents">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%;">#</th>
                                <th scope="col" style="width: 70%;">title</th>
                                <th scope="col" style="width: 20%;">date</th>
                            </tr>
                            </thead>
                            <tbody> <!-- category 사용해서 important2개 general4개 나오도록 -->
                            <tr id="notice_table" th:each="dto : ${board}">
                                <th:block th:if="${dto.category eq 'Important' or dto.category eq 'General'}">
                                    <td>[[${dto.bno}]]</td>
                                    <th scope="row">
                                        <a th:href="@{/board/board_view(bno=${dto.bno})}">
                                            [[${dto.title}]]
                                        </a>
                                    </th>
                                    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="bot">
            <div id="board_new">
                <div id="board_top">
                    <div id="board_title">
                        <h2>최신 게시글</h2>
                    </div>
                    <div id="board_btn">
                        <a th:href="@{/board/board_main}">게시판&raquo;</a>
                    </div>
                </div>
                <div id="board_content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 7%;">글번호</th>
                            <th scope="col" style="width: 48%;">제목</th>
                            <th scope="col" style="width: 15%;">글쓴이</th>
                            <th scope="col" style="width: 7%;">조회수</th>
                            <th scope="col" style="width: 7%;">추천수</th>
                            <th scope="col" style="width: 16%;">게시일</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr id="board_table" th:each="dto : ${board}">
                            <td>[[${dto.bno}]]</td>
                            <th scope="row">
                                <a th:href="@{/board/board_view(bno=${dto.bno})}">
                                    [[${dto.title}]]
                                </a>
                            </th>
                            <td>[[${dto.member.id}]]</td>
                            <td>[[${dto.views}]]</td>
                            <td>[[${dto.likes}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

        <footer th:replace="/layout/footer_layout :: footer_layout"></footer>
    </body>
<script th:inline="javascript">

    function checkAnswer(selectedChoice) {
        // 서버로부터 받은 Quiz 객체의 choices와 answer를 가져옵니다.
        var choices = JSON.parse(`[[${quiz.choices}]]`);
        var answer = [[${quiz.answer}]];
        console.log("선택한 값  choices: " + choices);
        console.log("선택한 값 : " + selectedChoice);
        console.log("정답 값 : " + answer);
        // 선택한 선택지와 정답 비교
        alert(selectedChoice);
        if (selectedChoice === answer) {
            // 정답인 경우
            alert('정답입니다!');
            // 여기에 정답 처리에 대한 추가적인 동작을 추가할 수 있습니다.
        } else {
            // 오답인 경우
            alert('오답입니다!');
            // 여기에 오답 처리에 대한 추가적인 동작을 추가할 수 있습니다.
        }
    }

    // 선택지 버튼 클릭 이벤트 처리
    document.getElementById('btn-4-1').addEventListener('click', function() {
        var selectedChoice = document.getElementById('btn-4-1').value;
        checkAnswer(selectedChoice);
    });
    document.getElementById('btn-4-2').addEventListener('click', function() {
        var selectedChoice = document.getElementById('btn-4-2').value;
        checkAnswer(selectedChoice);
    });
    document.getElementById('btn-4-3').addEventListener('click', function() {
        var selectedChoice = document.getElementById('btn-4-3').value;
        checkAnswer(selectedChoice);
    });
    document.getElementById('btn-4-4').addEventListener('click', function() {
        var selectedChoice = document.getElementById('btn-4-4').value;
        checkAnswer(selectedChoice);
    });

</script>
</html>